<div class="retangulo">
  <div class="franquia-message">REDE TRANSYLVANIA</div>
  <div class="image-overlay"></div>
    <div class="retangulo2">
      <nav class="menu">
        <ul class="links">
          <li class="list-inline-item"><a routerLink="home">Home</a></li>
          <li class="list-inline-item"><a routerLink="login">Login</a></li>
          <li class="list-inline-item"><a routerLink="formulario">Registrar Cliente</a></li>
          <li class="list-inline-item"><a routerLink="formularioFuncionario">Registrar Funcionario</a></li>
          <li class="list-inline-item"><a routerLink="modalDatas">Hoteis</a></li>
        </ul>
      </nav>
    </div>
</div>
