<h2 class="title">Lista de Funcionarios</h2>
<section id="data-page">
  <mat-table [dataSource]="allfuncionario">

    <!-- Id Column -->
    <ng-container matColumnDef="ID">
      <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.idFuncionario}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Name">
      <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- cpfFuncionario Column -->
    <ng-container matColumnDef="CPF">
      <mat-header-cell *matHeaderCellDef>CPF</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.cpfFuncionario}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Funções">
      <mat-header-cell *matHeaderCellDef>Funções</mat-header-cell>

    </ng-container>

    <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayColumns;"></mat-row>
  </mat-table>
</section>
