.franquia-message {
  color: #000;
  font-family: Aclonica;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.retangulo {
  width: auto;
  position: relative;
  height: 208px;
  flex-shrink: 0;
  background: #D78951;
}

