<div class="d-flex justify-content-center align-items-center">
  <div class="card p-5">
    <h2 class="title">Registrar Hotel</h2>
    <form class="form" (ngSubmit)="submit()" [formGroup]="formulario" #forDir="ngForm">
        <div class="form-group">
            <label class="fs-6">Nome:</label>
            <input type="text" formControlName="nome" name="nome" placeholder="Seu nome" class="form-control form-control-lg">
            <div *ngIf="nome.invalid && forDir.submitted" class="validation-error">
                O nome e obrigatorio!
            </div>
        </div>
        <div class="form-group">
            <label class="fs-6">Localização:</label>
            <input type="text" formControlName="localizacao" name="localizacao" placeholder="Ex: Maceio Sergipe" class="form-control form-control-lg">
            <div *ngIf="localizacao.invalid && forDir.submitted" class="validation-error">
                A localização e obrigatorio!
            </div>
        </div>
        <div class="form-group">
          <div class="d-flex justify-content-between align-items-left">
            <button class="btn btn-success btn-lg" id="save-btn" type="submit">Salvar Cadastro!</button><span style="width: 10px;"></span>
            <button class="btn btn-primary btn-lg" id="save-btn" (click)="resetForm()">Limpar Formulario!</button> <span style="width: 10px;"></span>
            <button class="btn btn-danger btn-lg" id="save-btn" (click)="cancel()">Cancelar</button>
          </div>
        </div>
    </form>
  </div>
</div>
