<div class="d-flex justify-content-center align-items-center">
  <div class="card p-5">
    <h2 class="title">Registrar Funcionario</h2>
    <form class="form" (ngSubmit)="submit()" [formGroup]="formulario" #forDir="ngForm">
        <div class="form-group">
            <label class="fs-6">Nome:</label>
            <input type="text" formControlName="name" name="nomeCliente" placeholder="Seu nome" class="form-control form-control-lg">
            <div *ngIf="name.invalid && forDir.submitted" class="validation-error">
                O nome e obrigatorio!
            </div>
        </div>
        <div class="form-group">
            <label class="fs-6">CPF:</label>
            <input type="text" formControlName="cpfClient" name="cpfClient" placeholder="Ex: XXX.XXX.XXX-XX" pattern="[0-9]{11}" maxlength="11" minlength="11" class="form-control form-control-lg">
            <div *ngIf="cpfClient.invalid && forDir.submitted" class="validation-error">
                O CPF e obrigatorio!
            </div>
        </div>
        <div class="form-group">
            <label class="fs-6">Senha:</label>
            <input type="text" formControlName="senha" name="dataNascimento" class="form-control form-control-lg">
            <div *ngIf="senha.invalid && forDir.submitted" class="validation-error">
                A data de nascimento e obrigatoria!
            </div>
        </div>
        <div class="form-group">
          <div class="d-flex justify-content-between align-items-left">
            <button class="btn btn-success btn-lg" id="save-btn" type="submit">Salvar Cadastro!</button><span style="width: 10px;"></span>
            <button class="btn btn-primary btn-lg" id="save-btn" (click)="resetForm()">Limpar Formulario!</button> <span style="width: 10px;"></span>
            <button class="btn btn-danger btn-lg" id="save-btn" (click)="cancel()">Cancelar</button>
          </div>
        </div>
    </form>
  </div>
</div>
