<div class="d-flex justify-content-center align-items-center">
  <div class="card p-5">
    <h2 class="title">Editar Funcionário</h2>
    <form class="form" (ngSubmit)="submit()" [formGroup]="formulario" #forDir="ngForm">
      <div class="form-group">
        <label class="fs-6">Nome:</label>
        <input type="text" formControlName="nome" name="nome" placeholder="Seu nome" class="form-control form-control-lg">
        <div *ngIf="formulario.get('nome')!.invalid && forDir.submitted" class="validation-error">
          O nome é obrigatório!
        </div>
      </div>
      <div class="form-group">
        <label class="fs-6">CPF:</label>
        <input type="text" formControlName="cpf" name="cpf" class="form-control form-control-lg">
      </div>
      <div class="form-group">
        <label class="fs-6">Senha:</label>
        <input type="text" formControlName="senha" name="senha" class="form-control form-control-lg">
        <div *ngIf="formulario.get('senha')!.invalid && forDir.submitted" class="validation-error">
          A senha é obrigatória!
        </div>
      </div>
      <div class="form-group">
        <div class="d-flex justify-content-between align-items-left">
          <button class="btn btn-success btn-lg" id="save-btn" type="submit">Salvar Modificações!</button>
          <span style="width: 10px;"></span>
          <button class="btn btn-danger btn-lg" id="cancel-btn" type="button" (click)="cancel()">Cancelar</button>
        </div>
      </div>
    </form>
  </div>
</div>