<h2 class="title">Hoteis</h2>
<section id="data-page">
  <mat-table [dataSource]="hoteis">

    <!-- Id Column -->
    <ng-container matColumnDef="ID">
      <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.idhotel}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.nome}} </mat-cell>
    </ng-container>

    <!-- cpfFuncionario Column -->
    <ng-container matColumnDef="Quantidade de quartos">
      <mat-header-cell *matHeaderCellDef>Quantidade de quartos</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.quantQuarto}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Localização">
      <mat-header-cell *matHeaderCellDef>Localização</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.localizacao}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Funções">
      <mat-header-cell *matHeaderCellDef>Funções</mat-header-cell>

    </ng-container>

    <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayColumns;"></mat-row>
  </mat-table>

</section>
