<div class="d-flex justify-content-center align-items-center">
  <div class="card p-5">
    <h2 class="title">Realizar Reserva</h2>
    <form class="form" (ngSubmit)="submit()" [formGroup]="formulario" #forDir="ngForm">
        <div class="form-group">
            <label class="fs-6">ID Cliente:</label>
            <input type="text" formControlName="id_cliente" name="id_cliente" placeholder="Seu nome" class="form-control form-control-lg">
            <div *ngIf="id_cliente.invalid && forDir.submitted" class="validation-error">
                O nome e obrigatorio!
            </div>
        </div>
        <div class="form-group">
            <label class="fs-6">Numero quarto:</label>
            <input type="text" formControlName="id_quarto" name="id_quarto" placeholder="Ex: Maceio Sergipe" pattern="[0-9]{11}" maxlength="11" minlength="11" class="form-control form-control-lg">
            <div *ngIf="id_quarto.invalid && forDir.submitted" class="validation-error">
                A localização e obrigatorio!
            </div>
        </div>

        <div class="form-group">
            <label class="fs-6">Data Entrada:</label>
            <input type="text" formControlName="dataEntrada" name="dataEntrada" placeholder="Ex: Maceio Sergipe" class="form-control form-control-lg">
            <div *ngIf="dataEntrada.invalid && forDir.submitted" class="validation-error">
                A localização e obrigatorio!
            </div>
        </div>

        <div class="form-group">
          <label class="fs-6">Data Saida:</label>
          <input type="text" formControlName="dataSaida" name="dataSaida" placeholder="" class="form-control form-control-lg">
          <div *ngIf="dataEntrada.invalid && forDir.submitted" class="validation-error">
              A localização e obrigatorio!
          </div>
        </div>

        

        <div class="form-group">
          <div class="d-flex justify-content-between align-items-left">
            <button class="btn btn-success btn-lg" id="save-btn" type="submit">Salvar Cadastro!</button><span style="width: 10px;"></span>
          </div>
        </div>
    </form>
  </div>
</div>
